* {
	margin: 0;
	padding: 0;
}

body {
	background: url(img/12_col.gif) center top repeat-y;
	background-size: 90%;
}

.container {
	display: grid;	
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: 1fr 1fr 1fr 1fr;
	grid-template-areas:
		"header header header header header header header header header header header header"
		"box-1 box-1 box-2 box-2 box-2 box-2 box-2 box-2 box-2 box-2 box-3 box-3"
		"content content content content content content content content content sidebar sidebar sidebar"
		"footer footer footer footer footer footer footer footer footer footer footer footer";

	gap: 2%;
	margin-left: 6%;
	margin-right: 6%;
	margin-top: 5px;
}

header,
.box-1,
.box-2,
.box-3,
.content,
aside,
footer,
.section-1,
.section-2,
.section-3,
.section-4
 {
	border: 1px solid #333;
	height: 150px;
}
header {
	grid-area: header;
}
.box-1{
	grid-area: box-1;
}
.box-2{
	grid-area: box-2;
}
.box-3{
	grid-area: box-3;
}
.content {
	grid-area: content;
}
aside {
	grid-area: sidebar;
}

footer {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: auto;
	grid-area: footer;

	gap: 2%;
	height: auto;
	padding: 5px;
	margin-bottom: 10px;
}
.section-1,
.section-2,
.section-3,
.section-4 {
	margin: 5px 0;
}

	/* @media query */

/* midre desktop skärmar 960-1200 */
@media screen and (min-width: 960px) and (max-width: 1200px) {
	.container {
		display: grid;	
		grid-template-columns: repeat(12, 1fr);
		grid-template-rows: 1fr 1fr 1fr 1fr;
		grid-template-areas:
			"header header header header header header header header header header header header"
			"box-1 box-1 box-1 box-2 box-2 box-2 box-2 box-2 box-2 box-3 box-3 box-3"
			"content content content content content content content content sidebar sidebar sidebar sidebar"
			"footer footer footer footer footer footer footer footer footer footer footer footer";
	}
}
/* Tablet skärmar 768-960 */
@media screen and (min-width: 768px) and (max-width: 960px){
	.container {
		display: grid;	
		grid-template-columns: repeat(12, 1fr);
		grid-template-rows: auto;
		grid-template-areas:
		"header header header header header header header header header header header header"
		"box-1 box-1 box-1 box-1 box-2 box-2 box-2 box-2 box-3 box-3 box-3 box-3"
		"content content content content content content sidebar sidebar sidebar sidebar sidebar sidebar"
		"footer footer footer footer footer footer footer footer footer footer footer footer";
	}
	footer {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: 1fr 1fr;
		grid-area: footer;
		grid-template-areas: 
		"section-1 section-2"
		"section-3 section-4";
		
		height: auto;
		padding: 5px;
		margin-bottom: 10px;
	}
}

/* Mobil skärmar max 768 */
@media screen and (max-width: 768px){
	.container {
		display: grid;	
		grid-template-columns: repeat(12, 1fr);
		grid-template-rows: auto;
		grid-template-areas:
		"header header header header header header header header header header header header"
		"box-1 box-1 box-1 box-1 box-1 box-1 box-1 box-1 box-1 box-1 box-1 box-1"
		"box-2 box-2 box-2 box-2 box-2 box-2 box-2 box-2 box-2 box-2 box-2 box-2" 
		"box-3 box-3 box-3 box-3 box-3 box-3 box-3 box-3 box-3 box-3 box-3 box-3"
		"content content content content content content content content content content content content" 
		"sidebar sidebar sidebar sidebar sidebar sidebar sidebar sidebar sidebar sidebar sidebar sidebar"
		"footer footer footer footer footer footer footer footer footer footer footer footer";
	}

	footer {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr 1fr 1fr;
		grid-area: footer;
		grid-template-areas: 
		"section-1" 
		"section-2"
		"section-3"
		"section-4";

		gap: 0;
		padding: 5px;
		margin-bottom: 10px;
	}
}


